## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="Hi there dad!"
l=[]
for i in s.split(" "):
  l.append(i)

In [3]:
print(l)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [11]:
a="Earth"
num=12742

print("The diameter of {} is {} kilometers".format(a,num))

The diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [5]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [21]:
l=lst[3][1][2]
l=str(l)
print(l[2:-2])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [50]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception', {'target':[1,2,3,'hello'] } ]}]}

In [51]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

1.  *Lists are  mutable whereas tuples are  immutable*
2. *Lists are dynamic in nature (Can be modified later) whereas tuples have static characteristics (Cannot be modified)*
3.  *Tuples work faster than lists due to its static nature.*

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [61]:
def remove(s):
  return s.split("@")[-1]

In [62]:
s="vinoodhini@domain.com"
l=remove(s)
print(l)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [65]:
string="I have a DOG !!"
print(findDog(string))

True

In [64]:
def findDog(string):
  return 'dog' in string.lower().split()

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [74]:
def CountDog(string):
  count=0
  for i in st.split(" "):
    i=i.lower()
    if i=="dog":
      count=count+1
  return count

In [75]:
st="I have a dog and I named my dog as NEMO"
print(CountDog(st))

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [77]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60 and speeding<=80:
        return 'Small Ticket'
    elif speeding <=60:
        return 'No Ticket'

In [79]:
print(caught_speeding(90,True))

Big Ticket

In [80]:
print(caught_speeding(61,False))

Small Ticket

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [86]:
emp_salary=[20000,30000,75000,35000,50000]
print("Employee salaries:",end=" ")
for i in emp_salary:
  print(i,end=" ")
print()
print("Total sum of their salaries:",sum(emp_salary))

Employee salaries: 20000 30000 75000 35000 50000
Total sum of their salaries: 210000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [88]:
dic1={"Empid":18, "Empname":"VINOODHINI", "Basicpay": 55000}
dic2={"Deptname": "IT", "DeptId" : 5}
dic3=dic1.copy()
dic3.update(dic2)
print(dic3)

{'Empid': 18, 'Empname': 'VINOODHINI', 'Basicpay': 55000, 'Deptname': 'IT', 'DeptId': 5}